pandas
numpy
jupyter
jupyterlab
selenium
beautifulsoup4
matplotlib
requests
gunicorn
psycopg2
flask
flask_sqlalchemy
flask_login
flask_bootstrap
flask_migrate
flask_wtf
marshmallow-sqlalchemy
flask-marshmallow