img {
    height: 100%;
    width: 100%;
}

.contain {
    object-fit: contain;
}

.top-rounded {
    border-radius: 5px 5px 0 0;
}

.influencer-posts {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;

}

.editable-post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 10px;
}

.post {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post-image {
    height: 250px;
}

.post-under-image {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.post-author {
    font-weight: bold;
}

.post-alt-text {
    font-style: italic;
}

.post-caption {

}
