{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Insta Clone - Managed Instagram Account{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Managed Instagram Accounts</h1>
    </div>
    <ul class="managed-instagram-accounts">
        {% for account in managed_instagram_accounts %}
            <li class="editable-post">
                {{ macros.managed_instagram_account_preview(account) }}
            </li>
        {% endfor %}
    </ul>
    <h2>Create new account</h2>
    <div>
        {{ wtf.quick_form(form) }}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
